<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <%- include('partials/errors.ejs') %>
  <form action="/search" method="get">
    <ul>
      <li>
        <label for="name">Name</label>
        <input name="name" type="text" id="name" value="<%= locals.searchQuery ? searchQuery.name: '' %>">
      </li>
      <li>
        <label for="email">Email</label>
        <input name="email" type="email" id="email" value="<%= locals.searchQuery ? searchQuery.email: '' %>">
      </li>
    </ul>
    <button type="submit">Search</button>
  </form>

  <% if (locals.searchResults) { %>
    <% if (searchResults.length > 0) { %>
      <%- include('partials/usersTable.ejs', { users: searchResults }) %>
    <% } else { %>
      <p>No user(s) found.</p>
    <% } %>
  <% } %>
  <a href="/">Back to home</a>
</body>
</html>